[submodule "obfuscator-llvm/obfuscator"]
	path = obfuscator-llvm/obfuscator
	url = https://github.com/enhao/obfuscator-llvm.git
	branch = llvm-4.0
[submodule "llvm-pass-tutorial"]
	path = llvm-pass-tutorial
	url = https://github.com/enhao/llvm-pass-tutorial.git
[submodule "HikariObfuscator/Core"]
	path = HikariObfuscator/Core
	url = https://github.com/enhao/Core.git
[submodule "HikariObfuscator/Headers"]
	path = HikariObfuscator/Headers
	url = https://github.com/enhao/Headers.git
[submodule "HikariObfuscator/Hikari"]
	path = HikariObfuscator/Hikari
	url = https://github.com/enhao/Hikari.git
	branch = release_80
[submodule "HikariObfuscator/Hikari.wiki"]
	path = HikariObfuscator/Hikari.wiki
	url = https://github.com/HikariObfuscator/Hikari.wiki.git
[submodule "obfuscator-llvm/obfuscator.wiki"]
	path = obfuscator-llvm/obfuscator.wiki
	url = https://github.com/obfuscator-llvm/obfuscator.wiki.git
